body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: white;
}

h2 {
    box-shadow: 0px 0px 5px 5px white;
    max-width: 80vw;
}

button {
    margin-top: 50px;
    width: 100px;
    height: 2em;
    font-size: larger;
}

